<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>Impressum</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Style.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script>
      $(function(){ var navMain = $(".navbar-collapse");navMain.on("click", "a", null, function () {navMain.collapse('hide');});});
    </script>
  </head>
<body>
  <nav class="nav container-fluid navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #222222">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://localhost:3000/">Back to Index</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item d-flex flex-row-reverse ">
            <a class="nav-link active" href="mailto:***@*****.***">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<section class = "container-fluid block"> 
  <div class = "container-fluid">
    <h1>Impressum</h1>
    <br>
    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG / Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h2>
    <p>
      ******** ******<br/>
      ************* **<br/>
      ***** *********
    </p>
    <h2>Kontakt</h2>
    <p>
        Telefon: +** (*) *** ** ** ** **<br/>
        E-Mail: ****************
    </p>
    <h2>Datenschutz</h2>
    <p>
        Diese Webseite speichert keine Besucherdaten.
        Diese Webseite verwendet keine Cookies. 
    </p>
    <h2>Haftungsausschluss für Inhalte</h2>
    <p> 
        Alle Inhalte auf dieser Webseite sind ohne Gewähr. Richtigkeit, Vollständigkeit und Aktualität 
        ist nicht garantiert. Für inkorrekte oder unvollständige Inhalte wird keine Haftung übernommen.
    </p>
    <h2>Haftungsausschluss für Links</h2>
    <p>
        Auf dieser Webseite wird zu externen Webseiten Dritter verlinkt. Für den Inhalt der verlinkten Webseiten 
        sind einzig die Betreiber dieser verantwortlich. Ich übernehme für den Inhalt der verlinkten Webseiten 
        keine Gewähr. Zum Zeitpunkt des Verlinkens waren auf diesen Webseiten keine rechtswidrigen Inhalte erkennbar.
    </p>
    <h2>Urheberrecht</h2>
    <p>
        Die durch den Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht
    </p>
    </div>
</section>

<footer class="center blog-footer footer text-white-50">
  <p><br><a href="#">Back to top </a><br></p>
  &copy; 2023<script>new Date().getFullYear()>2019&&document.write("-"+new Date().getFullYear());</script>, egoeren.de - Emrecan Gören
</footer>
</html>

